---
apiVersion: dynatrace.com/v1beta1
kind: DynaKube
metadata:
  name: {{ ocp_cluster_name[0] }}
  namespace: dynatrace
  annotations:
    feature.dynatrace.com/automatic-kubernetes-api-monitoring: "true"
spec:
  apiUrl: {{ dynatrace_instance_host }}/api
  skipCertCheck: true
  oneAgent:
    classicFullStack:
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/master
          operator: Exists
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
          operator: Exists
      autoUpdate: false
      env:
        - name: ONEAGENT_ENABLE_VOLUME_STORAGE
          value: "true"
  activeGate:
    capabilities:
      - routing
      - kubernetes-monitoring
      - dynatrace-api
    image: ""
    replicas: 1
    resources:
      requests:
        cpu: 500m
        memory: 512Mi
      limits:
        cpu: 1000m
        memory: 1.5Gi
