kind: Secret
apiVersion: v1
metadata:
  name: argocd-cluster
  namespace: {{ ansible_demo_namespace }}
  labels:
    app.kubernetes.io/managed-by: argocd
    app.kubernetes.io/name: argocd-cluster
    app.kubernetes.io/part-of: argocd
data:
  admin.password: {{ argocd_instance_admin_pasword | b64encode }}
type: Opaque
