apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: watches-eshop
  namespace: {{ ansible_demo_namespace }}
spec:
  project: default
  source:
    repoURL: 'http://gitea.{{ ocp_ingress_domain[0] }}/gitea/watches-eshop.git'
    targetRevision: master
    path: app-sets
  destination:
    namespace: watches-eshop
    server: 'https://kubernetes.default.svc'
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
