apiVersion: rbac.authorization.k8s.io/v1 
kind: RoleBinding
metadata:
  name: watches-eshop-role-binding
  namespace: watches-eshop
roleRef:
  apiGroup: rbac.authorization.k8s.io 
  kind: ClusterRole
  name: admin
subjects:
- kind: ServiceAccount
  name: argocd-argocd-application-controller 
  namespace: {{ ansible_demo_namespace }}
