---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: argocd-operator
  namespace: {{ ansible_demo_namespace }}
  labels:
    operators.coreos.com/argocd-operator.{{ ansible_demo_namespace }}: ""
spec:
  name: argocd-operator
  channel: alpha
  installPlanApproval: Manual
  source: community-operators
  sourceNamespace: openshift-marketplace
  config:
    env:
      - name: ARGOCD_CLUSTER_CONFIG_NAMESPACES
        value: {{ ansible_demo_namespace }},watches-eshop
